<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ app.request.locale }}" lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8"/>
        <title>{% block title %}{% endblock %}</title>
        {% block meta %}{% endblock %}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/qcmcore/css/bootstrap.min.css') }}" />
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
            <link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />
            <link rel="stylesheet" href="{{ asset('bundles/qcmcore/css/shCore.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/qcmcore/css/shThemeDefault.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/qcmcore/css/AdminLTE.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/qcmcore/css/_all-skins.min.css') }}" />
        {% endblock %}
    </head>
    <body class="skin-blue">
        <div class="wrapper">
            {% import 'QcmCoreBundle:Macros:actions.html.twig' as actions %}

            {% if form is defined %}
                {% form_theme form '@QcmAdmin/forms.html.twig' %}
            {% endif %}

            {% block container %}
                {% block nav %}
                <header class="main-header">
                    <a href="{{ path('qcm_admin_user_list') }}" class="logo">Admin</a>
                    <nav class="navbar navbar-static-top" role="navigation">
                        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <div class="navbar-custom-menu">
                            <ul class="nav navbar-nav">
                                <li class="dropdown user user-menu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <span class="hidden-xs">{{ app.user.username|capitalize }}</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="user-footer">
                                            <div class="pull-left">
                                                <a href="{{ path('qcm_admin_user_edit', { id: app.user.id }) }}" class="btn btn-default btn-flat">{{ 'qcm_core.label.profile'|trans }}</a>
                                            </div>
                                            <div class="pull-right">
                                                <a href="{{ path('qcm_core_security_logout') }}" class="btn btn-default btn-flat">{{ 'qcm_core.label.logout'|trans }}</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </header>
                {% endblock %}

                {% block navside %}
                    <aside class="main-sidebar">
                        <section class="sidebar">
                            <ul class="sidebar-menu">
                                <li class="treeview">
                                    <a href="{{ path('qcm_admin_user_list') }}">
                                        <i class="fa fa-user"></i>
                                        <span>{{ 'qcm_admin.title.users'|trans }}</span>
                                    </a>
                                </li>
                                <li class="treeview">
                                    <a href="{{ path('qcm_admin_user_session_list') }}">
                                        <i class="fa fa-file-text-o"></i>
                                        <span>{{ 'qcm_admin.title.all_questionnaires'|trans }}</span>
                                    </a>
                                </li>
                                <li class="treeview">
                                    <a href="{{ path('qcm_admin_category_list') }}">
                                        <i class="fa fa-sitemap"></i>
                                        <span>{{ 'qcm_admin.title.categories'|trans }}</span>
                                    </a>
                                </li>
                                <li class="treeview">
                                    <a href="{{ path('qcm_admin_question_list') }}">
                                        <i class="fa fa-question"></i>
                                        <span>{{ 'qcm_admin.title.questions'|trans }}</span>
                                    </a>
                                </li>
                            </ul>
                        </section>
                    </aside>
                {% endblock %}

                <div class="content-wrapper">
                    {% block flashMessages %}
                        {% for type, messages in app.session.flashbag.all() %}
                            {% for key, message in messages %}
                                <div class="alert bg-{{ type }} fade in">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <p class="text-center">{{ message|trans }}</p>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endblock %}

                    <section class="content-header">
                        <h1>{{ block('title') }}</h1>
                    </section>

                    <section class="content">
                        {% block content %}{% endblock %}
                    </section>
                    {% block footer %}{% endblock %}
                </div>
            {% endblock %}
        </div>

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/qcmcore/js/jquery-2.1.1.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/qcmcore/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/qcmcore/js/bootbox.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
            <script type="text/javascript" src="{{ url('bazinga_jstranslation_js', { '_locale' : app.request.locale }) }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/qcmcore/js/shCore.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/qcmcore/js/brush/shBrushAS3.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/qcmcore/js/brush/shBrushCss.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/qcmcore/js/brush/shBrushJScript.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/qcmcore/js/brush/shBrushPowerShell.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/qcmcore/js/brush/shBrushPhp.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/qcmcore/js/brush/shBrushSql.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/qcmcore/js/brush/shBrushXml.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/qcmadmin/js/app.min.js') }}"></script>

            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
            <![endif]-->

            <script type="text/javascript">
                $(document).ready(function() {
                    SyntaxHighlighter.config.clipboardSwf = '{{ asset('bundles/qcmcore/js/clipboard.swf') }}';
                    SyntaxHighlighter.defaults.toolbar = false;
                    SyntaxHighlighter.all();

                    $('.delete').on('click', function() {
                        var url = $(this).attr('href');
                        bootbox.confirm(Translator.trans('qcm_core.confirm_delete'), function(result) {
                            if (result == true) {
                                return window.location.href = url;
                            }
                        });

                        return false;
                    });
                });
            </script>
        {% endblock %}
    </body>
</html>
