<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ app.request.locale }}" lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8"/>
        <title>{% block title %}{% endblock %}</title>
        {% block meta %}{% endblock %}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/qcmcore/css/dashboard.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/qcmcore/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/qcmcore/css/shCore.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/qcmcore/css/shThemeDefault.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/qcmadmin/css/admin.css') }}" />
        {% endblock %}
    </head>
    <body>
        {% import 'QcmCoreBundle:Macros:actions.html.twig' as actions %}

        {% if form is defined %}
            {% form_theme form '@QcmAdmin/forms.html.twig' %}
        {% endif %}

        {% block container %}
            {% block nav %}
                <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="javascript:void(0);">{{ app.user.username|capitalize }}</a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-left">
                                <li><a href="{{ path('qcm_admin_user_list') }}">{{ 'qcm_admin.title.users'|trans }}</a></li>
                                <li class="menu-item dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">{{ 'qcm_admin.title.questionnaires'|trans }} <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('qcm_admin_category_list') }}">{{ 'qcm_admin.title.categories'|trans }}</a></li>
                                        <li><a href="{{ path('qcm_admin_question_list') }}">{{ 'qcm_admin.title.questions'|trans }}</a></li>
                                    </ul>
                                </li>
                                <li><a href="{{ path('qcm_core_security_logout') }}">{{ 'qcm_core.label.logout'|trans }}</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            {% endblock %}
            <div class="container">
                <div class="row">
                    {% block flashMessages %}
                        {% for type, messages in app.session.flashbag.all() %}
                            {% for key, message in messages %}
                                <div class="alert bg-{{ type }} fade in">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <p class="text-center">{{ message|trans }}</p>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endblock %}

                    <div class="main">
                        {% block content %}{% endblock %}
                    </div>
                    {% block footer %}{% endblock %}
                </div>
            </div>
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/qcmcore/js/jquery-2.1.1.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/qcmcore/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
            <script type="text/javascript" src="{{ url('bazinga_jstranslation_js', { '_locale' : app.request.locale }) }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/qcmcore/js/shCore.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/qcmcore/js/brush/shBrushAS3.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/qcmcore/js/brush/shBrushCss.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/qcmcore/js/brush/shBrushJScript.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/qcmcore/js/brush/shBrushPowerShell.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/qcmcore/js/brush/shBrushPhp.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/qcmcore/js/brush/shBrushSql.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/qcmcore/js/brush/shBrushXml.js') }}"></script>

            <script type="text/javascript">
                $(document).ready(function() {
                    SyntaxHighlighter.config.clipboardSwf = '{{ asset('bundles/qcmcore/js/clipboard.swf') }}';
                    SyntaxHighlighter.defaults.toolbar = false;
                    SyntaxHighlighter.all();
                });
            </script>
        {% endblock %}
    </body>
</html>
