{% extends 'QcmAdminBundle::layout.html.twig' %}

{% block title %}{{ 'qcm_admin.category.add'|trans }}{% endblock %}

{% block content %}
    <form class="form-horizontal col-sm-12 text-center" novalidate action="{{ path('qcm_admin_category_add') }}" {{ form_enctype(form) }} method="POST">
        {{ form_widget(form) }}
        {{ actions.cancel(path('qcm_admin_category_list')) }}
        {{ actions.submit() }}
    </form>
{% endblock %}
