{% macro list(categories) %}
    {% import '@QcmCore/Macros/actions.html.twig' as actions %}
    {% if categories|length == 0 %}
        <div class="text-muted text-center">{{ 'qcm_admin.empty.category'|trans }}</div>
    {% else %}
    <div class="actions-menu">
        {{ actions.add(path('qcm_admin_category_add')) }}
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{{ 'qcm_core.label.name'|trans }}</th>
                                <th>{{ 'qcm_core.label.description'|trans }}</th>
                                <th>{{ 'qcm_core.label.actions'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for category in categories %}
                            <tr>
                                <td>{{ category.name }}</td>
                                <td>{{ category.description }}</td>
                                <td>
                                    {{ actions.show(path('qcm_admin_category_show', { id : category.id })) }}
                                    {{ actions.edit(path('qcm_admin_category_edit', { id : category.id })) }}
                                    {{ actions.delete(path('qcm_admin_category_delete', { id : category.id })) }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endmacro %}

{% macro show(category) %}
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>{{ 'qcm_core.label.name'|trans }}</th>
                        <th>{{ 'qcm_core.label.description'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ category.name }}</td>
                            <td>{{ category.description }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
