{% extends 'QcmAdminBundle::layout.html.twig' %}

{% block title %}{{ 'qcm_admin.user_session.add'|trans }}{% endblock %}

{% block content %}
    {{ actions.title('qcm_admin.user_session.add'|trans, 'glyphicon-user') }}

    <div id="user-session-warning"></div>

    <form class="user-session-configuration form-horizontal col-sm-12 text-center" novalidate action="{{ path('qcm_admin_user_session_add', { user: app.request.get('user') }) }}" {{ form_enctype(form) }} method="POST">
        <div class="form-group row">
            {{ form_label(form.configuration.dateStart) }}
            <div class="col-sm-6" id="datetimepicker">
                <div class="input-group date">
                    {{ form_widget(form.configuration.dateStart) }}
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                {{ form_errors(form.configuration.dateStart) }}
            </div>
        </div>

        {{ form_label(form.configuration.categories) }}
        <div class="col-sm-6">
            {% for category in form.configuration.categories %}
                <div class="col-sm-6">
                {{ form_row(category) }}
                </div>
            {% endfor %}
            {{ form_errors(form.configuration.categories) }}
        </div>

        {{ form_row(form.configuration.maxQuestions) }}
        {{ form_row(form.configuration.timeout) }}
        {{ actions.cancel(path('qcm_admin_user_session_list')) }}
        {{ actions.submit() }}
        {{ form_rest(form) }}
    </form>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/qcmadmin/css/bootstrap-datetimepicker.min.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/qcmadmin/js/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/qcmadmin/js/bootstrap-datetimepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/qcmadmin/js/user-session.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $.initUserSession('{{ app.request.locale }}');
        });
    </script>
{% endblock %}
