{% macro list(user_sessions) %}
    {% if user_sessions|length == 0 %}
        <div class="text-muted text-center">{{ 'qcm_admin.empty.user_session'|trans }}</div>
    {% else %}
        <table class="table table-striped table-bordered col-xs-6">
            <thead>
            <tr>
                <th>{{ 'qcm_admin.questionnaires.configuration'|trans }}</th>
                <th>{{ 'qcm_core.label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user_session in user_sessions %}
                <tr>
                    <td>
                        <table class="table table-bordered">
                            <tr>
                                <td class="col-sm-3">{{ 'qcm_core.label.username'|trans }}</td>
                                <th>{{ user_session.user.username }}</th>
                            </tr>
                            {% if user_session.configuration.dateStart is not null %}
                                <tr>
                                    <td>{{ 'qcm_admin.questionnaires.date_start'|trans }}</td>
                                    <th>{{ user_session.configuration.dateStart.date|localizeddate }}</th>
                                </tr>
                            {% endif %}
                            {% if user_session.configuration.dateEnd is not null %}
                                <tr>
                                    <td>{{ 'qcm_admin.questionnaires.date_end'|trans }}</td>
                                    <th>{{ user_session.configuration.dateEnd.date|localizeddate }}</th>
                                </tr>
                            {% endif %}
                            <tr>
                                <td class="col-sm-3">{{ 'qcm_admin.title.categories'|trans }}</td>
                                <th>{{ user_session.configuration.categories|length }}</th>
                            </tr>
                            <tr>
                                <td>{{ 'qcm_admin.title.questions'|trans }}</td>
                                <th {% if user_session.configuration.maxQuestions - user_session.configuration.questions|length > 0 %}class="alert-danger"{% endif %}>{{ user_session.configuration.questions|length }}/{{ user_session.configuration.maxQuestions }}</th>
                            </tr>
                            <tr>
                                {% if user_session.configuration.timeout is null %}
                                    <td>{{ 'qcm_core.label.time_per_question'|trans }}</td>
                                    <th>{{ user_session.configuration.timePerQuestion }} {{ 'qcm_admin.user_session.seconds'|trans }}</th>
                                {% else %}
                                    <td>{{ 'qcm_core.label.timeout'|trans }}</td>
                                    <th>{{ (user_session.configuration.timeout/60)|round }} {{ 'qcm_admin.user_session.minutes'|trans }}</th>
                                {% endif %}
                            </tr>
                            {% if user_session.configuration.startAt is not null %}
                                <tr>
                                    <td>{{ 'qcm_admin.questionnaires.start_at'|trans }}</td>
                                    <th>{{ user_session.configuration.startAt.date|localizeddate }}</th>
                                </tr>
                            {% endif %}
                            {% if user_session.configuration.endAt is not null %}
                                <tr>
                                    <td>{{ 'qcm_admin.questionnaires.end_at'|trans }}</td>
                                    <th>{{ user_session.configuration.endAt.date|localizeddate }}</th>
                                </tr>
                            {% endif %}
                        </table>
                    </td>
                    <td>
                        <a href="{{ path('qcm_admin_user_session_show', { id : user_session.id }) }}"><img src="{{ asset('bundles/qcmadmin/images/list.png') }}" title="{{ 'qcm_core.button.show'|trans }}" /></a>
                        <a href="#"><img src="{{ asset('bundles/qcmadmin/images/delete.png') }}" title="{{ 'qcm_core.button.delete'|trans }}" /></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endmacro %}

{% macro list_by_user(user_sessions) %}
    {% if user_sessions|length == 0 %}
        <div class="text-muted text-center">{{ 'qcm_admin.empty.user_session'|trans }}</div>
    {% else %}
        <table class="table table-striped table-bordered col-xs-6">
            <thead>
            <tr>
                <th>{{ 'qcm_admin.questionnaires.configuration'|trans }}</th>
                <th>{{ 'qcm_core.label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user_session in user_sessions %}
                <tr>
                    <td>
                        <table class="table table-bordered">
                            {% if user_session.configuration.dateStart is not null %}
                            <tr>
                                <td>{{ 'qcm_admin.questionnaires.date_start'|trans }}</td>
                                <th>{{ user_session.configuration.dateStart.date|localizeddate }}</th>
                            </tr>
                            {% endif %}
                            {% if user_session.configuration.dateEnd is not null %}
                            <tr>
                                <td>{{ 'qcm_admin.questionnaires.date_end'|trans }}</td>
                                <th>{{ user_session.configuration.dateEnd.date|localizeddate }}</th>
                            </tr>
                            {% endif %}
                            <tr>
                                <td class="col-sm-3">{{ 'qcm_admin.title.categories'|trans }}</td>
                                <th>{{ user_session.configuration.categories|length }}</th>
                            </tr>
                            <tr>
                                <td>{{ 'qcm_admin.title.questions'|trans }}</td>
                                <th {% if user_session.configuration.maxQuestions - user_session.configuration.questions|length > 0 %}class="alert-danger"{% endif %}>{{ user_session.configuration.questions|length }}/{{ user_session.configuration.maxQuestions }}</th>
                            </tr>
                            <tr>
                                {% if user_session.configuration.timeout is null %}
                                    <td>{{ 'qcm_core.label.time_per_question'|trans }}</td>
                                    <th>{{ user_session.configuration.timePerQuestion }} {{ 'qcm_admin.user_session.seconds'|trans }}</th>
                                {% else %}
                                    <td>{{ 'qcm_core.label.timeout'|trans }}</td>
                                    <th>{{ (user_session.configuration.timeout/60)|round }} {{ 'qcm_admin.user_session.minutes'|trans }}</th>
                                {% endif %}
                            </tr>
                            {% if user_session.configuration.startAt is not null %}
                            <tr>
                                <td>{{ 'qcm_admin.questionnaires.start_at'|trans }}</td>
                                <th>{{ user_session.configuration.startAt.date|localizeddate }}</th>
                            </tr>
                            {% endif %}
                            {% if user_session.configuration.endAt is not null %}
                            <tr>
                                <td>{{ 'qcm_admin.questionnaires.end_at'|trans }}</td>
                                <th>{{ user_session.configuration.endAt.date|localizeddate }}</th>
                            </tr>
                            {% endif %}
                        </table>
                    </td>
                    <td>
                        <a href="{{ path('qcm_admin_user_session_show', { id : user_session.id }) }}"><img src="{{ asset('bundles/qcmadmin/images/list.png') }}" title="{{ 'qcm_core.button.show'|trans }}" /></a>
                        <a href="#"><img src="{{ asset('bundles/qcmadmin/images/delete.png') }}" title="{{ 'qcm_core.button.delete'|trans }}" /></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endmacro %}

{% macro show(user_session) %}
    <table class="table table-striped table-bordered col-xs-6">
        <thead>
        <tr>
            <th>{{ 'qcm_core.label.username'|trans }}</th>
            <th>{{ 'qcm_core.label.email'|trans }}</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ user_session.user.username }}</td>
                <td>
                    <table class="table table-bordered">
                        {% if user_session.configuration.dateStart is not null %}
                            <tr>
                                <td>{{ 'qcm_admin.questionnaires.date_start'|trans }}</td>
                                <th>{{ user_session.configuration.dateStart.date|localizeddate }}</th>
                            </tr>
                        {% endif %}
                        {% if user_session.configuration.dateEnd is not null %}
                            <tr>
                                <td>{{ 'qcm_admin.questionnaires.date_end'|trans }}</td>
                                <th>{{ user_session.configuration.dateEnd.date|localizeddate }}</th>
                            </tr>
                        {% endif %}
                        <tr>
                            <td class="col-sm-3">{{ 'qcm_admin.title.categories'|trans }}</td>
                            <th>
                                {% for category in user_session.configuration.categories %}
                                    {{ category.name }}{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </th>
                        </tr>
                        <tr>
                            {% if user_session.configuration.timeout is null %}
                            <td>{{ 'qcm_core.label.time_per_question'|trans }}</td>
                            <th>{{ user_session.configuration.timePerQuestion }} {{ 'qcm_admin.user_session.seconds'|trans }}</th>
                            {% else %}
                            <td>{{ 'qcm_core.label.timeout'|trans }}</td>
                            <th>{{ (user_session.configuration.timeout/60)|round }} {{ 'qcm_admin.user_session.minutes'|trans }}</th>
                            {% endif %}
                        </tr>
                        {% if user_session.configuration.startAt is not null %}
                            <tr>
                                <td>{{ 'qcm_admin.questionnaires.start_at'|trans }}</td>
                                <th>{{ user_session.configuration.startAt.date|localizeddate }}</th>
                            </tr>
                        {% endif %}
                        {% if user_session.configuration.endAt is not null %}
                            <tr>
                                <td>{{ 'qcm_admin.questionnaires.end_at'|trans }}</td>
                                <th>{{ user_session.configuration.endAt.date|localizeddate }}</th>
                            </tr>
                        {% endif %}
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <h4>{{ 'qcm_admin.title.questions'|trans }}</h4>
    <div class="bs-example">
        <div class="panel-group" id="accordion">
            {% for question in user_session.configuration.questions %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}">{{ loop.index }}. {{ question.category.name }}: {{ question.name|striptags }}</a>
                        </h4>
                    </div>
                    <div id="collapse{{ loop.index }}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <h4>{{ 'qcm_admin.title.answers'|trans }}</h4>
                            {% for answer in question.answers %}
                            <div class="panel panel-default">
                                <div class="panel-body">{{ answer.value|raw }}</div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}
