{% macro list(user_sessions) %}
    {% import '@QcmCore/Macros/actions.html.twig' as actions %}

    {% if user_sessions|length == 0 %}
        <div class="text-muted text-center">{{ 'qcm_admin.empty.user_session'|trans }}</div>
    {% else %}
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-body table-responsive no-padding">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>{{ 'qcm_admin.questionnaires.configuration'|trans }}</th>
                                <th class="col-sm-2">{{ 'qcm_core.label.actions'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user_session in user_sessions %}
                                <tr>
                                    <td>
                                        <table class="table table-bordered">
                                            <tr>
                                                <td class="col-sm-3">{{ 'qcm_core.label.username'|trans }}</td>
                                                <th>{{ user_session.user.username }}</th>
                                            </tr>
                                            {% if user_session.configuration.dateStart is not null %}
                                                <tr>
                                                    <td>{{ 'qcm_admin.questionnaires.date_start'|trans }}</td>
                                                    <th>{{ user_session.configuration.dateStart.date|localizeddate }}</th>
                                                </tr>
                                            {% endif %}
                                            {% if user_session.configuration.dateEnd is not null %}
                                                <tr>
                                                    <td>{{ 'qcm_admin.questionnaires.date_end'|trans }}</td>
                                                    <th>{{ user_session.configuration.dateEnd.date|localizeddate }}</th>
                                                </tr>
                                            {% endif %}
                                            <tr>
                                                <td class="col-sm-3">{{ 'qcm_admin.title.categories'|trans }}</td>
                                                <th>{{ user_session.configuration.categories|length }}</th>
                                            </tr>
                                            <tr>
                                                <td>{{ 'qcm_admin.title.questions'|trans }}</td>
                                                <th {% if user_session.configuration.maxQuestions - user_session.configuration.questions|length > 0 %}class="alert-danger"{% endif %}>{{ user_session.configuration.questions|length }}/{{ user_session.configuration.maxQuestions }}</th>
                                            </tr>
                                            <tr>
                                                {% if user_session.configuration.timeout is null %}
                                                    <td>{{ 'qcm_core.label.time_per_question'|trans }}</td>
                                                    <th>{{ user_session.configuration.timePerQuestion }} {{ 'qcm_admin.user_session.seconds'|trans }}</th>
                                                {% else %}
                                                    <td>{{ 'qcm_core.label.timeout'|trans }}</td>
                                                    <th>{{ (user_session.configuration.timeout/60)|round }} {{ 'qcm_admin.user_session.minutes'|trans }}</th>
                                                {% endif %}
                                            </tr>
                                            {% if user_session.configuration.startAt is not null %}
                                                <tr>
                                                    <td>{{ 'qcm_admin.questionnaires.start_at'|trans }}</td>
                                                    <th>{{ user_session.configuration.startAt.date|localizeddate }}</th>
                                                </tr>
                                            {% endif %}
                                            {% if user_session.configuration.endAt is not null %}
                                                <tr>
                                                    <td>{{ 'qcm_admin.questionnaires.end_at'|trans }}</td>
                                                    <th>{{ user_session.configuration.endAt.date|localizeddate }}</th>
                                                </tr>
                                            {% endif %}
                                        </table>
                                    </td>
                                    <td>
                                        {{ actions.show(path('qcm_admin_user_session_show', { id : user_session.id })) }}
                                        {{ actions.delete(path('qcm_admin_user_session_delete', { id : user_session.id })) }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro list_by_user(user_sessions) %}
    {% import '@QcmCore/Macros/actions.html.twig' as actions %}

    {% if user_sessions|length == 0 %}
        <div class="text-muted text-center">{{ 'qcm_admin.empty.user_session'|trans }}</div>
    {% else %}
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-body table-responsive no-padding">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>{{ 'qcm_admin.questionnaires.configuration'|trans }}</th>
                                <th class="col-sm-3">{{ 'qcm_core.label.actions'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user_session in user_sessions %}
                                <tr>
                                    <td>
                                        <table class="table">
                                            {% if user_session.configuration.dateStart is not null %}
                                            <tr>
                                                <td>{{ 'qcm_admin.questionnaires.date_start'|trans }}</td>
                                                <th>{{ user_session.configuration.dateStart.date|localizeddate }}</th>
                                            </tr>
                                            {% endif %}
                                            {% if user_session.configuration.dateEnd is not null %}
                                            <tr>
                                                <td>{{ 'qcm_admin.questionnaires.date_end'|trans }}</td>
                                                <th>{{ user_session.configuration.dateEnd.date|localizeddate }}</th>
                                            </tr>
                                            {% endif %}
                                            <tr>
                                                <td class="col-sm-3">{{ 'qcm_admin.title.categories'|trans }}</td>
                                                <th>{{ user_session.configuration.categories|length }}</th>
                                            </tr>
                                            <tr>
                                                <td>{{ 'qcm_admin.title.questions'|trans }}</td>
                                                <th {% if user_session.configuration.maxQuestions - user_session.configuration.questions|length > 0 %}class="alert-danger"{% endif %}>{{ user_session.configuration.questions|length }}/{{ user_session.configuration.maxQuestions }}</th>
                                            </tr>
                                            <tr>
                                                {% if user_session.configuration.timeout is null %}
                                                    <td>{{ 'qcm_core.label.time_per_question'|trans }}</td>
                                                    <th>{{ user_session.configuration.timePerQuestion }} {{ 'qcm_admin.user_session.seconds'|trans }}</th>
                                                {% else %}
                                                    <td>{{ 'qcm_core.label.timeout'|trans }}</td>
                                                    <th>{{ (user_session.configuration.timeout/60)|round }} {{ 'qcm_admin.user_session.minutes'|trans }}</th>
                                                {% endif %}
                                            </tr>
                                            {% if user_session.configuration.startAt is not null %}
                                            <tr>
                                                <td>{{ 'qcm_admin.questionnaires.start_at'|trans }}</td>
                                                <th>{{ user_session.configuration.startAt.date|localizeddate }}</th>
                                            </tr>
                                            {% endif %}
                                            {% if user_session.configuration.endAt is not null %}
                                            <tr>
                                                <td>{{ 'qcm_admin.questionnaires.end_at'|trans }}</td>
                                                <th>{{ user_session.configuration.endAt.date|localizeddate }}</th>
                                            </tr>
                                            {% endif %}
                                        </table>
                                    </td>
                                    <td>
                                        {% if user_session.configuration.endAt is not null %}
                                            {{ actions.show(path('qcm_admin_statistics_show', { id : user_session.id }), 'qcm_admin.statistics.title'|trans) }}
                                        {% endif %}
                                        {{ actions.show(path('qcm_admin_user_session_show', { id : user_session.id }), 'qcm_admin.statistics.detail'|trans) }}
                                        {{ actions.delete(path('qcm_admin_user_session_delete', { id : user_session.id })) }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro show(user_session) %}
    {% from '@QcmAdmin/Question/macros.html.twig' import accordion %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-body table-responsive no-padding">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>{{ 'qcm_core.label.username'|trans }}</th>
                            <th>{{ 'qcm_core.label.email'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ user_session.user.username }}</td>
                                <td>
                                    <table class="table table-bordered">
                                        {% if user_session.configuration.dateStart is not null %}
                                            <tr>
                                                <td>{{ 'qcm_admin.questionnaires.date_start'|trans }}</td>
                                                <th>{{ user_session.configuration.dateStart.date|localizeddate }}</th>
                                            </tr>
                                        {% endif %}
                                        {% if user_session.configuration.dateEnd is not null %}
                                            <tr>
                                                <td>{{ 'qcm_admin.questionnaires.date_end'|trans }}</td>
                                                <th>{{ user_session.configuration.dateEnd.date|localizeddate }}</th>
                                            </tr>
                                        {% endif %}
                                        <tr>
                                            <td class="col-sm-3">{{ 'qcm_admin.title.categories'|trans }}</td>
                                            <th>
                                                {% for category in user_session.configuration.categories %}
                                                    {{ category.name }}{% if not loop.last %}, {% endif %}
                                                {% endfor %}
                                            </th>
                                        </tr>
                                        <tr>
                                            {% if user_session.configuration.timeout is null %}
                                            <td>{{ 'qcm_core.label.time_per_question'|trans }}</td>
                                            <th>{{ user_session.configuration.timePerQuestion }} {{ 'qcm_admin.user_session.seconds'|trans }}</th>
                                            {% else %}
                                            <td>{{ 'qcm_core.label.timeout'|trans }}</td>
                                            <th>{{ (user_session.configuration.timeout/60)|round }} {{ 'qcm_admin.user_session.minutes'|trans }}</th>
                                            {% endif %}
                                        </tr>
                                        {% if user_session.configuration.startAt is not null %}
                                            <tr>
                                                <td>{{ 'qcm_admin.questionnaires.start_at'|trans }}</td>
                                                <th>{{ user_session.configuration.startAt.date|localizeddate }}</th>
                                            </tr>
                                        {% endif %}
                                        {% if user_session.configuration.endAt is not null %}
                                            <tr>
                                                <td>{{ 'qcm_admin.questionnaires.end_at'|trans }}</td>
                                                <th>{{ user_session.configuration.endAt.date|localizeddate }}</th>
                                            </tr>
                                        {% endif %}
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {{ accordion(user_session.configuration.questions) }}

{% endmacro %}
