{% extends 'QcmAdminBundle::layout.html.twig' %}
{% from '@QcmAdmin/UserSession/macros.html.twig' import show %}

{% block title %}{{ 'qcm_admin.user_session.details'|trans({ '%username%' : user_session.user.username }) }}{% endblock %}

{% block content %}
    {% if user_session.configuration.maxQuestions - user_session.configuration.questions|length > 0 %}
        <p class="text-center alert-danger">
            {{ 'qcm_core.questions.missing'|trans({
                '%questions%': user_session.configuration.maxQuestions - user_session.configuration.questions|length
            }) }}
        </p>
    {% endif %}

    <div class="actions-menu">
        {{ actions.cancel(path('qcm_admin_user_show', {id: user_session.user.id}), 'qcm_core.button.return'|trans) }}
        {{ actions.edit(path('qcm_admin_user_session_edit', {id: user_session.id})) }}
        <a href="{{ path('qcm_admin_user_session_delete', { id : user_session.id }) }}" class="btn btn-sm btn-danger delete">
            <i class="glyphicon glyphicon-remove"></i>
            <span>{{ 'qcm_core.button.delete'|trans }}</span>
        </a>
        {{ actions.add(path('qcm_admin_user_session_regenerate', {id: user_session.id}), 'qcm_admin.button.regenerate_questionnaire'|trans, 'glyphicon-repeat') }}
    </div>

    {{ show(user_session) }}
{% endblock %}
