{% extends 'QcmAdminBundle::layout.html.twig' %}

{% block title %}{{ 'qcm_admin.user_session.add'|trans }}{% endblock %}

{% block content %}
    <div id="user-session-warning"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <form id="user-session-configuration" novalidate action="{{ path('qcm_admin_user_session_edit', { id: user_session.id }) }}" {{ form_enctype(form) }} method="POST">
                    <div class="box-body">
                        <div class="form-group">
                            <div>
                                {{ form_label(form.configuration.dateStart) }}
                            </div>
                            <div id="datetimepicker">
                                <div class="input-group date">
                                    {{ form_widget(form.configuration.dateStart) }}
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                {{ form_errors(form.configuration.dateStart) }}
                            </div>
                        </div>

                        {{ form_label(form.configuration.categories) }}
                        <div id="categories_form">
                            <div class="check_container">
                                <ul class="pager">
                                    <li class="check_all"><a href="javascript:void(0);">{{ 'qcm_admin.label.check_all'|trans }}</a></li>
                                    <li class="uncheck_all"><a href="javascript:void(0);">{{ 'qcm_admin.label.uncheck_all'|trans }}</a></li>
                                </ul>
                                <div class="row">
                                    <div class="center-block label-inline" style="width: 300px;">
                                        {% for category in form.configuration.categories %}
                                            <div class="col-sm-6">
                                                {{ form_widget(category) }}
                                                {{ form_label(category) }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {{ form_errors(form.configuration.categories) }}
                        </div>

                        <div class="clearfix"></div>
                        {{ form_row(form.configuration.maxQuestions) }}

                        {{ form_label(form.configuration.questionsLevel) }}
                        <div id="categories_form">
                            <div class="check_container">
                                <ul class="pager">
                                    <li class="check_all"><a href="javascript:void(0);">{{ 'qcm_admin.label.check_all'|trans }}</a></li>
                                    <li class="uncheck_all"><a href="javascript:void(0);">{{ 'qcm_admin.label.uncheck_all'|trans }}</a></li>
                                </ul>
                                <div class="row">
                                    <div class="center-block label-inline" style="width: 300px;">
                                        {% for level in form.configuration.questionsLevel %}
                                            <div class="col-sm-6">
                                                {{ form_widget(level) }}
                                                {{ form_label(level) }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {{ form_errors(form.configuration.questionsLevel) }}
                        </div>

                        <div class="clearfix"></div>
                        {{ form_row(form.configuration.timerChoice) }}
                        <div class="timeout">
                            {{ form_row(form.configuration.timeout) }}
                        </div>
                        <div class="time_per_question">
                            {{ form_row(form.configuration.timePerQuestion) }}
                        </div>

                        {{ actions.cancel(path('qcm_admin_user_session_show', { id: user_session.id })) }}
                        {{ actions.submit() }}
                        {{ form_rest(form) }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/qcmadmin/css/bootstrap-datetimepicker.min.css') }}" />
{% endblock %}

{% block javascripts %}
    {% set categoriesId = [] %}
    {% for category in user_session.configuration.categories %}
        {% set categoriesId = categoriesId|merge([category.id]) %}
    {% endfor %}

    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/qcmadmin/js/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/qcmadmin/js/bootstrap-datetimepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/qcmadmin/js/user-session.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $.initUserSession('{{ app.request.locale }}');
            $.timeoutChoice('qcm_core_user_session_configuration_timerChoice');
            $.initCategories('qcm_core_user_session_configuration_categoryChoice', {{ categoriesId|json_encode }});
            $.initCheckAll();
        });
    </script>
{% endblock %}
