{% extends 'QcmAdminBundle::layout.html.twig' %}

{% block title %}{{ 'qcm_admin.user.add'|trans }}{% endblock %}

{% block content %}
    {{ actions.title('qcm_admin.user.list'|trans, 'glyphicon-user') }}

    <form class="form-horizontal col-sm-12 text-center" novalidate action="{{ path('qcm_admin_user_add') }}" {{ form_enctype(form) }} method="POST">
        {{ form_widget(form) }}
        {{ actions.cancel(path('qcm_admin_user_list')) }}
        {{ actions.submit() }}
    </form>
{% endblock %}
