{% extends 'QcmAdminBundle::layout.html.twig' %}

{% block title %}{{ 'qcm_admin.user.update'|trans({ '%username%': user.username }) }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <form novalidate action="{{ path('qcm_admin_user_edit', { id : user.id }) }}" {{ form_enctype(form) }} method="POST">
                <div class="box-body">
                    {{ form_widget(form) }}
                    {{ actions.cancel(path('qcm_admin_user_show', { id: user.id })) }}
                    {{ actions.submit() }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
